.Modal-text {
  padding: 10px 10px;
}

.Modal-h2 {
  margin: 0;
  padding-bottom: 5px;
  font-size: 15px;
}

.Modal-cost {
  display: flex;
  justify-content: space-between; /* 左右に配置 */
  align-items: center; /* center揃え */
  border: none;
  background: #F4F9FF;
  border-radius: 10px;
  margin: 8px 0 8px 0;
  padding: 0 10px;
}

.Modal-cost2 {
  display: flex;
  justify-content: space-between; /* 左右に配置 */
}

.Modal-box {
  background-color: #165cb3;
  padding: 10px;
}

.member-name {
  font-size: 16px;
  padding-right: 75%;

}

.member-amount {
  font-size: 16px;
}

.Modal-cost2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: #165cb3;
  border-radius: 10px;
}

.Modal-btn-position {
  display: flex;
  justify-content: flex-end;
}

.Modal-btn2 {
  border-radius: 10px;
  background: #60C8FF;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  padding: 7px 15px;
  margin-left: 10px;
}
