.Modal-all {
  padding: 0 10px 0 10px;
}

.Modal-h2 {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 15px;
  cursor: default;
}

.Modal-h3 {
  margin: 0;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 14px;
  cursor: default;
}

.Modal-costbox {
  display: flex;
  justify-content: space-between; /* 左右に配置 */
  align-items: center; /* center揃え */
  border: none;
  background: #F4F9FF;
  border-radius: 10px;
  margin: 8px 0 10px 0;
  padding: 6px 15px;
  cursor: default;
}

.Modal-cost {
  color: #15ADFF;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
}

.Modal-text {
  padding: 0;
  font-size: 15px;
}

.Modal-member {
  background: #F4F9FF;  
  border-radius: 10px;
  margin: 8px 0 10px 0;
  cursor: default;
}

.Modal-membercard {
  display: flex;
  justify-content: space-between; /* 左右に配置 */
  align-items: center; /* center揃え */
  padding: 10px 15px;
}

.Modal-membername {
  font-size: 15px;
}

.Modal-memberamount {
  font-size: 16px;
  font-weight: bold;
  color: #7E909F;
}

.Modal-boder {
  border: 1px solid #aec3da;
  padding: 0;
  margin: 0;
}

.Modal-divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 8px 0;
}

/*submitModal*/
.submit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-content {
  background: white;
  border: 1px solid #97B1CC;
  border-radius: 12px;
  width: 220px;
  max-width: 90%;
  position: relative;
}

.submit-text {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.submit-boder {
  border: none;
  border: 1px solid #aec3da;
  padding: 0;
  margin: 0;
}

.submit-div {
  display: flex;
  justify-content: center; /* 左右に配置 */
  align-items: center; /* center揃え */
}

.submit-cancel {
  background-color: transparent;
  color: #3A94FC;
  padding: 5px 20px 5px 15px;
  border: none;
  cursor: pointer;
}

.submit-delet {
  border: none;
  padding: 5px 40px 5px 40px;
  border-left: 2px solid #aec3da; /* 区切り線 */
  background-color: transparent;
  color: #FF3C3C;
  cursor: pointer;
}
