.App {
  background-color: #EDF1F6;
  font-family: 'Inria Sans';
  text-align: left;
  color: #000000;
  /* タップ時のハイライトを透明にする */
  -webkit-tap-highlight-color: transparent;
}

.App-logo {
  height: 20px;
  width: 20px;
  padding-top: 17px;
  padding-right: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


.App-header {
  background-color: #FFFFFF;
  text-align: left;
  padding: 5px 0px 5px 20px;
  font-size: 10px;
}

.App-flex {
  display: inline-flex;
  cursor: pointer;
}

.App-h1 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 28px;
}

.App-h2 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 20px;
}

.App-h3 {
  margin: 0;
  font-size: 16px;
  color: #778396;
}

.App-error {
  padding-left: 10px;
  padding-top: 7px;
  font-size: 16px;
  color: #FF3535;
}



.App-form {
  display: flex;
}


.button-wrapper {
  text-align: right;
}

.create-btn {
  border-radius:6px;
  background: #60C8FF;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 15px;
  margin: 10px 10px;
}