.Event-main {
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
}

.Event-name {
    display: flex;
    justify-content: space-between;
    align-items: center; /* これを追加 */
}

.Event-logo-Edit {
  height: 40px;
  width: 40px;
  content: url("Edit_Icon.svg");
}
.Event-logo-Edit:hover {
  content: url("Edit_Active.svg");
}

.Event-logo-Share {
  height: 40px;
  width: 40px;
  content: url("Share_Icon.svg");
}
.Event-logo-Share:hover {
  content: url("Share_Active.svg");
}

.Event-share {
    background: #F0F4F8;
    border: none;
    padding: 0px;
    margin-top: 22px;
    margin-bottom: 0;
    margin-right: 12px;
}


.Event-btn {
  border-radius:10px;
  background: #60C8FF;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  padding: 7px 15px;
  margin: 0px 0px 0px 10px;
}

.box {
  border: #97B1CC 1px solid; /*境界線の指定*/
  background: #FFFFFF;
  border-radius:6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Event-h2 {
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  font-size: 20px;
}

.Event-summary-h2 {
  margin: 0;
  padding-top: 5px;
  padding-left: 18px;
  padding-bottom: 5px;
  font-size: 20px;
}

.Event-summary-h2-1 {
  margin: 0;
  padding-top: 5px;
  padding-left: 18px;
  padding-bottom: 25px;
  font-size: 20px;
}

.Event-summary-h3 {
  margin: 0;
  padding-left: 18px;
  font-size: 15px;
  padding-bottom: 3px;
  color: #778396;
}

.Summary-seisan-card {
  border: none;
  border-radius: 6px;
  padding: 12px;
  margin: 12px;
  background: #F4F9FF;
}

.Summary-member {
  margin: 0;
  text-align: center;
  letter-spacing:2px
}

.Summary-kasikari-card {
  display: flex;
  justify-content: space-between; /* 左右に配置 */
  align-items: center;
  padding: 8px 16px;
  font-size: 16px;
}

.amount.positive {
  color: #6FD434;   /* プラス → 緑 */
}

.amount.negative {
  color: #FF3C3C;     /* マイナス → 赤 */
}

.amount.zero {
  color: gray;    /* ゼロ → グレー */
}

/*ditail*/

.Detail-cost {
  display: flex;
  justify-content: space-between; /* 左右に配置 */
  justify-items: center;
  border: none; /*境界線の指定*/
  background: #F4F9FF;
  border-radius:10px;
  margin: 10px 10px;
  padding: 0px 10px;
}

.Detail-cost-color {
  color: #15ADFF;
  font-size: 20px;
  font-weight: bold;
}

.date-heading {
  margin-top: 15px;
  font-size: 18px;
  color: #000;
  margin-bottom: 0;
}

.event-card {
  border: #97B1CC 1px solid;
  border-radius: 6px;
  padding: 12px;
  margin-top: 10px;  
  background: #FFFFFF;
}

.event-title {
  font-size: 16px;
}

.box {
  border: #97B1CC 1px solid; /*境界線の指定*/
  background: #FFFFFF;
  border-radius:6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Event-detail-summary {
  border: none; /*境界線の指定*/
  background: #F6FBFF;
  border-radius:10px;
  padding: 5px 8px;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 280px;
}

.Event-summary-btn {
  color: #000; 
  background: #F6FBFF;
  border-radius:10px;
  border: none;
  font-size: 14px;
  padding: 8px 40px;
  margin: 0px 0px 0px 10px;
}
.Event-summary-btn.active {
  background: #E5ECF4;
}

.Event-detail-btn {
  color: #000; 
  background: #F6FBFF;
  border-radius:10px;
  border: none;
  font-size: 14px;
  padding: 8px 50px;
  margin: 0px 0px 0px 10px;
}
.Event-detail-btn.active {
  background: #E5ECF4;
}

.Event-summary-box {
  display: flex;
}

.Event-seisan {
  border: #97B1CC solid 1px; /*境界線の指定*/
  background: #FFFFFF;
  border-radius:10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 5%;
  width: 45%;
}

.Event-kasikari {
  border: #97B1CC solid 1px; /*境界線の指定*/
  background: #FFFFFF;
  border-radius:10px;
  padding: 5px 8px;
  width: 45%;
}

/*SubEventModal*/

.modal-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content2 {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-pagechange {
 display: flex;
 justify-content: space-between; /* 子要素を両端に配置 */
 align-items: center; /* 子要素を垂直方向の中央に揃える */
 width: 100%; /* 親要素の幅を100%に広げる */
}

.modal-title {
  text-align: center;
  margin: 0;
}

.madal-date {
  margin: 0;
  text-align: center;
  color: #778396;
}

.modal-pagechange {
  display: flex;
}

.modal-btn {
  border: none;
  background: white;
  font-size: 20px; /* アイコンを大きくする */
  cursor: pointer;
}

.madal-titlecomponent {
  display: flex;
}

.Modal-text {
  padding: 10px 10px;
}

.Modal-h2 {
  margin: 0;
  padding-bottom: 5px;
  font-size: 15px;
}

.Modal-cost {
  display: flex;
  justify-content: space-between; /* 左右に配置 */
  justify-items: center;
  border: none; /*境界線の指定*/
  background: #F4F9FF;
  border-radius:10px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 0;
  padding: 0px 10px;
}

.Modal-btn-position {
  display: flex;
  justify-content: flex-end;
}

.Modal-btn2 {
  border-radius:10px;
  background: #60C8FF;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  padding: 7px 15px;
  margin: 0px 0px 0px 10px;
}