.FirstPage-main {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 90vh;
  height: auto
}

.FirstPage-h1 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 28px;
  cursor:default;
}

.FirstPage-h2 {
  margin: 0;
  font-size: 16px;
  color: #778396;
  cursor:default;
}
@media screen and (max-width: 480px) {
  .FirstPage-h2 {
    font-size: 14px;
  }
}

.FirstPage-ul {
  list-style: none;
  padding: 0;
}

.FirstPage-evntcard {
  display: flex;
  align-items: center;
  border: #97B1CC 1px solid;
  border-radius: 10px;
  background: #FFFFFF;
  font-size: 20px;
  color: #000;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}

.FirstPage-emoji {
  font-size: 30px;
  padding-right: 5px;
}

.FirstPage-errorr {
  margin: 0;
  font-size: 20px;
  color: #778396;
  cursor:default;
}

.FirstPage-btn-right {
  text-align: right;
}

.FirstPage-btn {
  border-radius:10px;
  background: #60C8FF;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 15px;
  margin: 15px 0px;
  cursor: pointer;
}